$color-primary:#FF9976;

$color-green:#9CAA85;

$color-green-d:#98AA7B;

$color-green-md:#4E5442;

$text-color:#FFE9DA;

$title-color:#F6C4A7;

$font-size-secondary:2.5rem;

$font-size-tertiary :2rem;


$font-size-small:1.6rem;

$text-line-height:2.5rem;

$letter-spacing-big:0.5rem;

$letter-spacing-small:0.3rem;

$background-color-green:linear-gradient(45deg,$color-green,$color-green-d);

