@import "variables";
@import "anima";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 62.5%;
}

.container {
  width: 62.5%;
  height: auto;
  margin: auto;
}

.p-relative{
    position: relative;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;


  &>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  transition: opacity .5s;

  }

  &__navbar{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    transition: 0.5s;
    z-index: 999;

    @media (max-width: 560px){
      // visibility: hidden;
    }

    & ul{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 560px){
        display: block;
        // visibility: hidden;
      }

      & li{
        position: relative;
        list-style: none;
      }

      & li a{
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: transparent;
        transition: 0.5s;

        @media (max-width: 560px){
          display: none;
        }
      }

      

    }

    &-m{
      display: none;
    }

    &.sticky{
      padding: 5px 50px;
      background: rgba(255,255,255,0.8);

      @media (max-width: 560px){
        padding: 1px;
      }

      & ul{
        
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        & li a{
          color: $color-primary;
        }
      }

      .header__navbar-m{
        width: 100%;
        @media(max-width: 560px){
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &-btn{
          width: 100%;
          padding: 0.5rem;
          font-size: 1.5rem;
          background-color: $color-green-md;
          color:#fff;
          text-align: center;
          opacity: 0.5;
        }

        &-list{
          display: none;
          padding: 0;

          & li{
            
          }

          & li a{
            display: block;
            margin: 0;
            padding: 0.8rem 0;
          }
        }
      }
    }
  }

  .heading {
    // margin: auto;
    transform: translateY(15%);
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
      justify-content: center;

    &__title {
      margin: 0;
      padding: 0;
      font-size: 9rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      // color: $color-primary;
      display: flex;
      justify-content: center;
      transition: 0.5s;

      background-image: url(https://media.giphy.com/media/3oEdv5SY4LBHUBe2o8/source.gif);
      background-size: cover;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      // text-transform: uppercase;
      // font-size: 120px;
      // line-height: .75;
      // margin: 10px 0;

      @media (max-width: 815px) {
        font-size: 6rem;
      }
      @media (max-width: 570px) {
        font-size: 3.5rem;
      }
    }

    &__logobox {
      width: 100%;

      display: flex;
      justify-content: center;
      padding: 3rem 0;
    transition: 0.5s;
    

      &>img {
        width: 6.5rem;
        
        @media (max-width: 680px) {
          width: 4.5rem;
        }
      }
    }

    &__slogan {
      font-size: $font-size-secondary;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      color: $color-primary;
      text-align: center;
      padding: 3rem 0;
    transition: 0.5s;

      @media (max-width: 815px) {
        font-size: 1.8rem;
      }
    }
  }
}



.section-area {
  @include background-color-green;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5rem;
    // padding-bottom: 5rem;
    position: relative;

    @media(max-width:1100px){
        // display: block;
        
    }

    &-face {
      
      position: relative;

      background: rgba(255,255,255,0.1);
      box-shadow: 15px 15px 10em rgba(0,0,0,0.5);
      border-radius: 15px;
      // width: 70%;
      display: flex;
      justify-content: center;
        align-items: center;

      transition: transform 0.6s;
      -webkit-transition: transform 0.6s;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      
      @media(max-width:1100px){
          // width: 100%;
      }

      &.flip{
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
      }

      &__Front{
        @include backface-visibility;

        
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 0;

        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);

        &>h3 {
          margin: 0 0 2rem;
          font-size: $font-size-secondary;
          letter-spacing: $letter-spacing-big;
          color: $title-color;
          text-align: center;

          @media(max-width:680px){
            font-size: $font-size-small;
          margin: 0 0 1rem;

          }
        }

        &>img {
          display: block;
          width: 60%;
          margin: 0 auto;
          
          
  
          @media(max-width:980px){
              width: 75%;
          }
        }
      }

      &__Back{
        @include backface-visibility;
        
          justify-content: space-between;
          align-items: center;



          transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);

          position: absolute;
          right: 0;
          left: 0;
          top: 10px;
          color: #20263f;


          padding:4rem 4ch ;

        &>p {
          // width: 30%;
          // margin: auto;
          
          font-size: $font-size-small;
          line-height: $text-line-height;
          letter-spacing: $letter-spacing-small;
          color:$text-color;

  
          @media(max-width:1440px){
              width: 90%;
          }
  
          @media(max-width:1100px){
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }

        &-icon{
          width: $font-size-small;
          margin-top: 5rem;
          // margin-right: 1rem;
          & img{
            width: 100%;
            display: block;
            
          }
        }
      }
      

      

      
    }


    
  }
}

.section-how-design{
    width: 100%;
    
    @include background-color-pink-pic;

    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;

    &__titlebox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10rem;
        padding-bottom: 1rem;
        position: relative;

        & img{
            margin-top: -8rem;
            
            width: 22rem;
            position: absolute;
            margin-left: 4rem;
            

            @media(max-width:1440px){
            margin-top: -6rem;
                
                width: 20rem;
            }
    
            @media(max-width:980px){
                margin-top: -5rem;
            margin-left: 2.5rem;

                width: 20rem;
            }

            @media(max-width:620px){
              margin-top: 0rem;
            margin-left: 1.5rem;

              width: 15rem;
          }

          @media(max-width:425px){
            display: none;
          }
        }

        & img:hover {filter: saturate(3);}
    }

    & h2{
        margin-top: 0;
        display: inline-block;
        font-size: $font-size-secondary;
        letter-spacing: $letter-spacing-big;
        color: $title-color;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        
    }

    & p{
      
        font-size: $font-size-small;
        line-height: $text-line-height;
        letter-spacing: $letter-spacing-small;
        color:$text-color;
        margin: 0 auto;
        padding: 2rem 2rem;
        
        width: 80%;
        background: rgba(255,255,255,0.1);
        border-radius: 15px;

        box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
      
        @media(max-width:1440px){
            width: 90%;
        

        }

        @media(max-width:980px){
          padding-top: 1rem;
            width: 100%;
        }
    }
}

.section-products{
  @include background-color-pink;
  
  width: 100%;
  height: auto;

  &__logoArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 5rem;

    @media(max-width:1110px){
    padding: 4rem;

    }
    &-logo{
      width: 8%;
    }
  }

  &__productsPhotoArea{
    width: 100%;
    padding-bottom: 2.5rem;
    display: flex;

    @media(max-width:1110px){
      display: block;
    }

    &-title{
      width: 30%;
      display: flex;
      justify-content: center;

      @media(max-width:1110px){
        width: 100%;
        margin: auto;
        padding-bottom: 3rem;
      }

      h3{
        margin: 0;
        font-size: $font-size-secondary;
        letter-spacing: $letter-spacing-big;
        color: $title-color;

        @media(max-width:680px){
          font-size: $font-size-small;}
      }
    }

    &-photos{
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @media(max-width:1110px){
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 5rem 2rem;
      }

      @media(max-width:860px){
        padding: 0 2rem 2rem;
      }

      &-item{
        width: calc(100% / 3);

        -webkit-filter: brightness(50%);
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -o-transition: all .7s ease;
        -ms-transition: all .7s ease;
        transition: all .7s ease;

        &:hover{
          -webkit-filter: brightness(100%);
        }

        @media(max-width:860px){
          width: calc(100% / 2);
        }

        @media(max-width:560px){
          width: 100%;
        }

        &>img{
          width: 100%;
        }
      }
      
      &-modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        &-content{
          background-color: rgb(199, 221, 188);
          margin: 15% auto; /* 15% from the top and centered */
          padding: 20px;
          border: 1px solid #888;
          width: 60%; /* Could be more or less, depending on screen size */

          &-name{
            margin-top:0;
            color: $title-color;
            font-size: $font-size-tertiary;
          }

          &-desc{
            color: $text-color;
            font-size: $font-size-small;
          }

          &-price{
            color: $text-color;

            font-size: $font-size-small;

          }

          &-close{
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.section-news{
  @include background-color-green;
  
  display: flex;

  padding: 10rem 0;

  @media(max-width:980px){
  padding: 5rem 0;

  }

  @media(max-width:680px){
    display: block;
  padding: 2rem;

  }

  &__titleArea{
    width: 30%;
    display: flex;
    justify-content: flex-end;

    @media(max-width:680px){
      width: 95%;
      display: block;
      text-align: center;
    }

    &-title{
      font-size: $font-size-secondary;
      letter-spacing: $letter-spacing-big;
      color: $title-color;
      padding: 0 5rem;
      writing-mode: vertical-lr;
      -webkit-writing-mode: vertical-lr;

      @media(max-width:980px){
        padding: 0 2rem;
      }

      @media(max-width:680px){
        font-size: $font-size-small;
        
      padding: 2rem 0.5rem;
      writing-mode: unset;
      -webkit-writing-mode: unset;
      }

    }
  }

  &__newsArea{
    width: 55%;
    padding: 1.5rem;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
      background: rgba(255,255,255,0.1);
      border-radius: 15px;

      @media(max-width:680px){
        width: 95%;
    box-shadow: unset;
        margin: auto;
      }


    &-title{
      font-size: $font-size-tertiary ;
      letter-spacing: $letter-spacing-big;
      color: $title-color;
      padding-bottom: 2rem;

      @media(max-width:680px){
        font-size: $font-size-small;}
      
    }

    &-contentArea{
      display: flex;
      margin-left: 5rem;
      padding-bottom: 3rem;

      @media(max-width:980px){
        margin-left: 1rem;
      }

      @media(max-width:420px){
        margin-left:0;

      
      }
      
      &-icon{
        width: $font-size-small;
        margin-top: 0.5rem;
        margin-right: 1rem;
        img{
          width: 100%;
          display: block;
          
        }

        @media(max-width:420px){
          display: none;
        
        }

      }

      &-text{
      font-size: $font-size-small;
      line-height: $text-line-height;
      letter-spacing: $letter-spacing-small;
      color:$text-color;


      
      }
    }
  }
}

.section-footer{
  @include background-color-pink;
  
  width: 100%;
  padding: 10rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  @media(max-width:1110px){
  padding-top: 5rem;

  }

  &__title{
    color: $title-color;
    font-size: $font-size-secondary;
      letter-spacing: $letter-spacing-big;

      @media(max-width:680px){
        font-size: $font-size-small;}
  }

  &__logoArea{
    width: 20%;
    padding: 3rem 0;
    
    img{
      width: 30%;
      display: block;
      margin: auto;
    }
    
  }

  &__contactInfo{
    font-size: 0.9rem;
    padding-bottom: 3rem;
    

    p{
      padding: 0;
      margin: 0;
    }

    &-title{
      color: $text-color;
      
      line-height: $text-line-height;
    }

    &-text{
      color: $text-color;

    }

  }
}